body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  h2{
    display: flex;
    justify-content: center;
    height: 5vh;

  }
  .drbutton{
    /* margin-top: 15px; */
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100vh;
  }
  
  .controls label {
    margin-right: 10px;
    height: 4vh;
  }
  
  .grid {
    display: grid;
    justify-content: center;
    gap: 1px;
    /* border: 1px solid #ccc;
    background-color: #ccc; */
    margin-top: 10px;
  }
  
  .cell {
    background-color: #ffff;
    border: 1px solid;
  }
  
  #valueInputs{
    margin: 15px 0px;
  }
  #gridContainer{
    width: 700px;
    height: 700px;
  }